<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am an IT Specialist with more than 7 years of experience working from Helpdesk to System administration in fast-paced companies such as Alorica. 
			Proficient abilities to set up hardware and strong communication skills to explain issues and solutions to non-technical customers.
			Always pursuing continuous education in the infotech field, ranging from automation programming to the latest software architecture solutions. 
			In my previous experiences, I was able to work under the ITIL methodology, broadly used in modern organizations nowadays. 

        </p>
        <p>
           I love learning new things.
           While solving real customer problems are often intrinsically fun to tackle,
           I'm most attracted to technical problems.
           I'm looking for a individual contributor role where I can take on on collaborative
           team leadership responsibilites, and gain experience with
           architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
				I have lived six months in Manchester, where i had the possibility to expand my knowledge in DevOps techniques and
				Cloud Computing related to Google Platform. Now i have moved to Dublin (IRE) where i got a job offer as IT Admin.
				</li>
				<li>
				Leadership and management of IT resources for a project goal.
				Delivered on schedule, and currently working on fixes for site.
				</li>
				<li>
				Designed and implemented Networking VLSM and routing to provide HA and loadbalancing across multple projects.
    			</li>
          <li>
            Participated on a Chatbot CAMPUS in Punta del Este, Uruguay on March 2019. I had the chance to interact and learn from experienced people
			about the machine learning and how to interact with AI algorithm.
          </li>
          <li>
            Worked in smaller websites doing fixes, using technologies as Devexpress, Matlab, Automation, Web Srapping and Penetration Testing.
    			</li>
    			<li>
            Knowledge of Ethical hacking and penetration test using intermediate proxies (such as Burpsuite) and OWASP ZAP.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
    <div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h3 style="margin-top:0;">Books</h3>
				<ul>
					<li>
					Clean Code: A Handbook of Agile Software Craftsmanship Robert C. Martin
					</li>
					<li>
					Who moved my Cheese? Dr Spencer Johnson, 1999. 
					</li>
					<li>
					Linux Shell Scripting with Bash Ken O. Burtch, 2010.
					</li>
					<li>
					Cisco CCNA books, Wendell O'Donell, 2016.
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
