<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>
          Zihui Guo is a doctoral student at the Institute of Information Engineering, Chinese Academy of Sciences, where he also earned his Master’s degree in 2023. With a growing background in computer engineering and cybersecurity, he is eager to continue learning and contributing to research on processor security and reliability.
        </p>
        <p>
          Currently, his doctoral work focuses on processor security, where he explores innovative techniques to uncover vulnerabilities and enhance the security of modern CPUs.
        </p>
        <p>
          Known among peers for his curiosity and open-minded attitude, he actively engages in academic discussions and collaborative projects. He enjoys bridging rigorous research with practical applications, aiming to contribute both to the scientific community and to the broader field of computer security.
        </p>
      </div>
    </div>
  </div>
</section>


<style>
#about p {
  text-align: justify;
}
</style>