<section class="pub" id="honors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Honors and Awards</h2>
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <ul>
          <li>
            <p> First Prize in the National College Student Computer Skills Competition (C Language), Grand Final, 2018.</p>
          </li>
          <li>
            <p>Ranked within the top 1.7% nationwide in the CCF/CSP Computer Software Proficiency Certification (C/C++ Programming), organized by the China Computer Federation, 2019.</p>
          </li>
          <li>
            <p>First Prize in the National College Student Mathematics Competition, 2019.</p>
          </li>
          <li>
            <p>Second Prize in the Lanqiao Cup National Software and Information Technology Competition (C/C++ Programming, University Group A), 2019.</p>
          </li>
          <li>
            <p>Second Prize in the Huajiao Cup Preliminary Round of the National College Student Mathematics Competition, 2019.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<style>
#interests ul {
  list-style-position: outside; /* 默认圆点在外 */
  padding-left: 1.2em;          /* 留点空间 */
}

#interests li {
  text-align: justify;
  padding-left: 0.3em;          /* 微调 */
}

#about p {
  text-align: justify;
}
</style>