<section class="pub" id="awards">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Honors & Awards</h2>
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <ul>
          <li>
            <p><strong style="color:rgb(63, 63, 219);">[2018]</strong> First Prize in the National College Student Computer Skills Competition (C Language), Grand Final.</p>
          </li>
          <li>
            <p><strong style="color:rgb(63, 63, 219);">[2019]</strong> Ranked within the top <strong>1.7%</strong> nationwide in the CCF/CSP Computer Software Proficiency Certification (C/C++ Programming), organized by the China Computer Federation.</p>
          </li>
          <li>
            <p><strong style="color:rgb(63, 63, 219);">[2019]</strong> First Prize in the National College Student Mathematics Competition.</p>
          </li>
          <li>
            <p><strong style="color:rgb(63, 63, 219);">[2019]</strong> Second Prize in the Lanqiao Cup National Software and Information Technology Competition (C/C++ Programming, University Group A).</p>
          </li>
          <li>
            <p><strong style="color:rgb(63, 63, 219);">[2019]</strong> Second Prize in the Huajiao Cup Preliminary Round of the National College Student Mathematics Competition.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
