<section class="tout" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Academic Background and Activities</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
          My main research interests include:
        </p>
        <ul>
          <li>
            <b>Processor Verification</b>. My work focuses on discovering CPU vulnerabilities through fuzzing. I have addressed key challenges in CPU fuzzing, including test redundancy, imbalance, and false positives. 
            Specifically, I (1) proposed diversified test construction, (2) introduced a novel coverage metric, (3) designed a new mutation algorithm, (4) overcame large-scale verification bottlenecks for non-standard instructions, and (5) pioneered a seed scheduling strategy tailored for CPU fuzzing.
          </li>
          <li>
            Side-Channel Security. I have studied and reproduced various side-channel attacks, gaining practical insights into their mechanisms and countermeasures.
          </li>
          <li>
            Memory Safety. I am interested in exploring memory safety from both hardware and system perspectives, including memory corruption detection, pointer integrity, and runtime monitoring techniques, aiming to mitigate security risks in modern processors.
          </li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h3 style="margin-top:0">Recent Projects</h3>
        <ul>
          <li>
            Developed fuzzing frameworks to identify pre-silicon bugs in RISC-V processors, effectively improving processor validation and verification.
          </li>
          <li>
           Developed a framework for generating and testing non-standard instructions, which will be open-sourced on GitHub soon.          </li>
          <li>
            Current work will soon be released as an open-source project on GitHub to support the broader hardware security and verification community.
          </li>
        </ul>
        <h3>Teaching</h3>
        <ul>
          <li>
            Teaching Assistant for the graduate-level Computer Architecture Security course at the University of Chinese Academy of Sciences, Spring 2025.
          </li>
          <li>
            Teaching Assistant for the graduate-level Computer Architecture Security course at the University of Chinese Academy of Sciences, Spring 2024.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
#interests ul {
  list-style-position: outside; /* 默认圆点在外 */
  padding-left: 1.2em;          /* 留点空间 */
}

#interests li {
  text-align: justify;
  padding-left: 0.3em;          /* 微调 */
}
</style>