<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Cloud Computing</b>. It's an exciting time for Cloud Computing and Containerization. I'm currently taking online courses on Udemy and Cloud Acad. I have also assisted to several Kubernetes conferences.
			  </li>
			  <li>
				  <b>Bash Automation</b>. Scripting is IT's swiss knife, so keep learning about Bash and python simplifies our job and get us focused on the important tasks. 
			  </li>
			  <li>
				<b>Storage Solutions</b>.  Lately i have received a lot of storage speed solution such as Fiber Channel over Ethernet and SAN solutions. 
				The world of storage solutions are increasing and the demand has been outstanding since the cloud computing came up a few years ago.
			</li>
			  <li>
				  <b>Beach and wilderness time</b>. I am from South America, home of some of the greatest beaches and trails in the world. I enjoy spending weekends
          on beachs and getting lost in the woods running or trekking. Currently living in Dublin, Ireland.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          I have recently deploy a homelab environment in a proxmox server. Although the time consumption it took, that allowed me to
		  manage multiple OS and storages to help me prepare certifications like Azure Admin or CCNA.
		  The server could be handled via ssh or gui.
    		</li>
  			<li>
          		The technologies i used to develop the sites were: 
				Linux core, Bash, Powershell, Virtualization, Hyper-v, Networking, Storage and Firewall.
				The hardware used was a nano server with 128 Gb ram and nvram storage for fast bootup.
  			</li>
			<li>
			Backend programming: Domain Driven Development, OOP Patterns, Node JS modules, Repository pattern, unit of work.
  			</li>
  		    </ul>
  		    <h3>Social and Events</h3>
  		    <ul>
  			<li>
  			  Active member NETCONF in Uruguay.
			</li>
			<li>  
			  Active StackOverFlow and Github member.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
