<section class="pub" id="news">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>News</h2>
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <ul>
          <li>
            <p><strong>2025.11</strong> — We open-sourced our CPU fuzzing framework <em>DiveFuzz</em>. 
                <a href="https://github.com/In2Sec/DiveFuzz" target="_blank">[GitHub]</a></p>
          </li>
          <li>
            <p><strong>2025.10</strong> — Our paper <em>MystFuzz</em> was accepted to ACSAC 2025!</p>
          </li>
          <li>
            <p><strong>2025.08</strong> —  Our paper <em>DiveFuzz</em> was accepted to ACM CCS 2025!</p>
          </li>
          <!-- <li>
            <p><strong>2024.10</strong> — HScheduler was accepted to Computers & Security.</p>
          </li> -->
          <!-- <li>
            <p><strong>2024.07</strong> — Joined the Hardware Security Research Group at IIE.</p>
          </li>
          <li>
            <p><strong>2023.09</strong> — Two cryptography papers accepted by The Computer Journal.</p>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</section>
