<section class="pub" id="publications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Publications</h2>
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <ul>
          <li>
			<p><strong style="color:rgb(63, 63, 219);">[CCS'25]</strong> DiveFuzz: Enhancing CPU Fuzzing via Diverse Instruction Construction.</p>
    		<p><strong>Zihui Guo</strong>, Miaomiao Yuan, Yanqi Yang, Liwei Chen, Gang Shi, Dan Meng. </p>
			<p><em>Proceedings of the 32nd ACM Conference on Computer and Communications Security.</em></p>
          </li>
          <li>
            <p><strong style="color:rgb(63, 63, 219);">[C&S'25]</strong> HScheduler: An execution history-based seed scheduling strategy for hardware fuzzing.</p>
            <p><strong>Zihui Guo</strong>, Yin Lv, Ningning Cui, Liwei Chen, Gang Shi.</p>
            <p><em>Published in Computers & Security, Volume 155.</em></p>
          </li>
		  <li>
            <p><strong style="color:rgb(63, 63, 219);">[TDSC'25]</strong> Hypnos: A Practical Power Side-Channel Attacks via CPU Idle Time.</p>
            <p>Feng Yusi, Zhang Xin, <strong>Guo Zihui</strong>, Liu Ben, Wang Fei, Zhu Ziyuan, Zhang Yinqian.</p>
            <p><em>Published in IEEE Transactions on Dependable and Secure Computing.</em></p>
          </li>
		  <li>
            <p><strong style="color:rgb(63, 63, 219);">[The Computer Journal'22]</strong> Improved linear cryptanalysis of block cipher BORON.</p>
            <p>Yin Lv, Danping Shi, Lei Hu, <strong>Zihui Guo</strong>, Yi Guo, Caibing Wang.</p>
            <p><em>Published in The Computer Journal, Oxford University Press.</em></p>
          </li>
		  <li>
            <p><strong style="color:rgb(63, 63, 219);">[The Computer Journal'22]</strong> Automatic Demirci Selçuk meet-in-the-middle attack on SIMON.</p>
            <p>Yin Lv, Danping Shi, Yi Guo, Qiu Chen, Lei Hu, <strong>Zihui Guo</strong>.</p>
            <p><em>Published in The Computer Journal, Oxford University Press.</em></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
